body{
    margin: 0%;
}
.Titulo{
    background-color: black;
    margin: 0%;
    background-position: center;
}
.Titulo img {
    display: inline-block;
    width: 100%;
}
.Titulo h1{
    text-align: center;
    color: aliceblue;
    margin: 0%;
    background-position: center;
    background-size: cover;
}
.Descripcion{
    background-color: black;
    color: white;
    background-position: center;


}
.parrafo {
    display: inline-block;
    width: 40%;
    vertical-align: top;
    margin-left: 10%;
    padding: 1%;
}
.imagen {
    
    display: inline-block;
    width: 30%;
}
.Descripcion img{
    width: 100%;
    border-radius: 40px;
    
}


.features {
    text-align: center;
    margin: 0%;
    border: solid 0% white;
    padding: 50px;
    color:white;
    background-color: #1E1A13;
}
.feature i {
    
    display: block;
    padding: 1em;
}
.feature {
    width: 30%;
    padding: 0%;
    display: inline-block;
}
.features h2{
    padding: 0%;
    margin: 0%;
    text-align: center;
}
.galeria {
    padding: 50px 100px;
    background-color: black;
    text-align: center;
}
.fotos {
    display: inline-block;
    width: 30%;
    border: solid 1px;
    margin: 0%;
    padding: 0.75%;
}
.fotos img{
    width: 350px;
    height: 270px;

}
.Bibliografía {
    text-align: center;
    margin: 0%;
    border: 0%;
    padding: 10px;
    color:white;
    background-color: #1E1A13;
}
.Bibliografía h3{
    color: white;
    text-align: center;
}
